.main-weather-sec {
    height: 100%;

    .weekly-weather-sec {
        width: 40%;
        background-color: #2b3a50;
        border-radius: 20px;
    }

    .city-sec {
        width: 75%;
        padding-inline: 2%;
        padding-block-start: 2%;
        height: 25%;
        font-family: CoreSans;

    }
}