.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.grid-center{
    display: grid;
    place-items: center;
}

.debug{
    outline: 1px solid red;
}

.relative{
    position: relative;
}

.space-between{
    justify-content: space-between;
}

.larger{
    font-size: larger;
}

.smaller{
    font-size: smaller;
}

.bolder{
    font-weight: bolder;
}

.w100{
    width: 100%;
}

.h100{
    height: 100%;
}

.s-icon{
    width: 25px;
    height: 25px;
}

.wrap{
    flex-wrap: wrap;
}